<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Cliente - Turtle Wave</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Accesso Cliente</h2>
    
    <form th:action="@{/loginCliente}" method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        
        <div th:if="${errore != null}" class="alert alert-danger" th:text="${errore}"></div>
        
        <button type="submit" class="btn btn-primary">Accedi</button>
    
        <div class="mt-3">
            
            <a href="/registrazionecliente/new" class="btn btn-primary">Registrati</a>
        </div>
    
    
    
    </form>
</div>
</body>
</html>
